header {
  background-color: #243E36;
  top: 0px;
  position: sticky;
  z-index: 10;
}
header .container-logo-nav {
  width: 90px;
  height: 80px;
}
header .container-logo-nav .img-logo {
  width: 100%;
  height: 100%;
}
header .navbar-toggler {
  background-color: #dfc155;
}
header #navbarNav {
  justify-content: end;
  font-size: 1.5rem;
}
@media screen and (max-width: 990px) {
  header #navbarNav {
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
  }
}
header #navbarNav .nav-item {
  margin-right: 20px;
}
header #navbarNav .nav-item .nav-link {
  color: #FEC601;
  margin-left: 20px;
}
header #navbarNav .nav-item .nav-link:hover {
  color: #f9efe8;
}
header #navbarNav .nav-item .nav-link .fa-solid {
  margin-right: 10px;
  color: #FEC601;
}
header #navbarNav .nav-item .nav-link .fa-solid:hover {
  color: #f9efe8;
}

footer {
  background-color: #243E36;
  width: 100%;
  color: #f9efe8;
  font-weight: bold;
  padding-top: 25px;
  margin-top: 40px;
}
footer .nav-link:hover {
  color: #f9efe8;
}
footer .footer-column {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
footer .footer-column a, footer .footer-column p {
  text-decoration: none;
  color: #FEC601;
  font-size: 1.2rem;
}
footer .footer-column .img-logosiftlar-footer {
  width: 70px;
  height: 70px;
}
footer .fa-brands {
  color: #FEC601;
}

.bg-img, .bienvenidos {
  background-repeat: no-repeat;
  background-position: bottom center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#titulo h1 {
  font-size: 6rem;
  height: 350px;
  text-align: center;
  font-family: "Alata", sans-serif;
  color: #FEC601;
  background-color: rgba(255, 250, 241, 0.5411764706);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/software-reparacion-pc.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding: 100px;
  font-weight: bold;
}
@media screen and (max-width: 990px) {
  #titulo h1 {
    font-size: 2.5rem;
    text-align: left;
  }
}

.bienvenidos {
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  background-image: url(../img/infobox.png);
  background-size: auto;
  opacity: 0.99;
}
@media screen and (max-width: 990px) {
  .bienvenidos {
    font-size: 1.5rem;
  }
}
.bienvenidos h2 {
  font-size: 3rem;
  margin-bottom: 25px;
  font-weight: bold;
  color: #FEC601;
}
@media screen and (max-width: 990px) {
  .bienvenidos h2 {
    font-size: 2rem;
  }
}

#services {
  background-image: url(../img/infobox.png);
  background-position: center center;
  background-repeat: repeat-x;
  background-size: auto;
  opacity: 0.99;
}
#services h2 {
  font-size: 3.8rem;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: #FEC601;
  text-align: center;
  font-family: "Alatsi", sans-serif;
}
@media screen and (max-width: 990px) {
  #services h2 {
    font-size: 2rem;
  }
}
#services h3 {
  font-family: "Alatsi", sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
  color: rgba(33, 163, 55, 0.8470588235);
  color: #243E36;
}
#services .btn {
  margin: 40px 50px;
  width: 100px;
  height: 40px;
}

.tecnicos {
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: #FEC601;
  padding: 50px;
  font-size: 2.2rem;
  text-align: center;
  font-family: "Mooli", sans-serif;
}

.marcas {
  text-align: center;
  left: 50px;
}
.marcas .container-marcas {
  margin-top: 8px;
  margin-bottom: 25px;
}

.img-ws {
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  z-index: 5;
}

.banner {
  background-image: url(../img/banner1.jpg);
  background-position: center;
  background-size: cover;
  height: 280px;
  margin-top: 50px;
}

.container-titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.container-titulo h1 {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 70px;
  font-size: 4.2rem;
  color: #FEC601;
  background-color: #243e36;
  width: 600px;
}

.separador {
  margin-top: -20px;
}
.separador .container-img-tex {
  display: flex;
  align-items: center;
  margin: 50px 30px;
}
.separador .container-img-tex .imagen {
  width: auto;
  height: 300px;
}
.separador .container-img-tex h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 3rem;
}
.separador .container-img-tex p {
  font-size: 2rem;
  text-align: center;
  padding: 30px;
}
@media screen and (max-width: 990px) {
  .separador .container-img-tex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: unset;
  }
}
.separador .container-img-tex2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 30px;
  align-items: center;
}
.separador .container-img-tex2 .imagen-2 {
  width: 100%;
  height: 230px;
}
.separador .container-img-tex2 h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 3rem;
}
.separador .container-img-tex2 p {
  font-size: 2rem;
  text-align: center;
  padding: 30px;
}
@media screen and (max-width: 990px) {
  .separador .container-img-tex2 {
    display: flex;
    flex-direction: column;
  }
}

.container-fact-dif {
  border-radius: 50px;
  box-shadow: 2px 10px 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 990px) {
  .container-fact-dif {
    box-shadow: none;
  }
}
.container-fact-dif .factores {
  background-color: #436d60;
  text-align: center;
}
.container-fact-dif .factores h2 {
  font-size: 4rem;
  margin-top: 10px;
  color: white;
}
@media screen and (max-width: 990px) {
  .container-fact-dif .factores h2 {
    font-size: 3rem;
  }
}
.container-fact-dif .factores p {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(230, 221, 221);
}

.container-factores {
  display: flex;
  align-items: center;
}
.container-factores h3 {
  text-align: left;
  margin-top: 50px;
  color: black;
  font-weight: bold;
  margin-bottom: -10px;
  margin-left: 20px;
}
@media screen and (max-width: 990px) {
  .container-factores h3 {
    font-size: 2rem;
  }
}
.container-factores p {
  font-size: 2rem;
  padding: 20px;
  text-align: left;
}
@media screen and (max-width: 990px) {
  .container-factores p {
    font-size: 1.5rem;
  }
}

section {
  margin-top: 80px;
}
section .fancooler-bg {
  background-image: url(../img/fancooler.jpg);
  background-position: center center;
  background-size: 100% 100%;
  height: 280px;
  margin-top: 50px;
}
section .page-services {
  font-size: 3.5rem;
  padding: 20px;
  margin-top: 80px;
  background: rgb(254, 198, 1);
  background: radial-gradient(circle, rgb(254, 198, 1) 0%, rgb(50, 116, 109) 100%);
  text-align: center;
}

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  box-shadow: 2px 10px 10px;
  height: 400px;
  z-index: 1;
}
.card .img-servicio {
  width: 200px;
}
.card .card-body .card-title {
  font-size: 2rem;
  margin-bottom: 30px;
}
.card .card-body .card-text {
  font-size: 1.1rem;
}
.card:hover {
  background-color: rgb(240, 240, 95);
  height: 400px;
  box-shadow: 5px 1px 10px rgba(255, 253, 120, 0.2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div .contacto-imagen {
  width: 100%;
  height: 400px;
  margin-top: 10px;
}
div .contactanos {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-size: 3rem;
  background-image: url(../img/infobox.png);
  background-position: bottom center;
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.99;
}

.iconos {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}
.iconos .contacto-icon {
  width: 190px;
  height: 210px;
  margin-top: 50px;
}
.iconos .contacto-icon:hover {
  width: 200px;
}

#contact {
  background-color: #32746D;
  margin-top: 100px;
  width: 90%;
  padding: 50px;
  border-radius: 80px;
  padding: 50px;
}
#contact .contacto-form {
  font-size: 3rem;
  color: #FEC601;
}
@media screen and (max-width: 990px) {
  #contact .contacto-form {
    font-size: 1.8rem;
  }
}
#contact .informacion p {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  color: #f9efe8;
}
@media screen and (max-width: 990px) {
  #contact .informacion p {
    font-size: 1rem;
  }
}
#contact .boton {
  background-color: #FEC601;
  color: #dcebe9;
  font-size: 1.8rem;
}
#contact .boton:hover {
  background-color: #32746D;
}
#contact .form-control {
  margin-top: 50px;
  height: 40px;
  font-size: 1.8rem;
}

.maps {
  width: auto;
}
.maps h2 {
  font-size: 2.9rem;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
  color: #FEC601;
}
.maps .container-mapa {
  display: flex;
  justify-content: center;
}
.maps .container-mapa iframe {
  width: 80%;
  height: 450px;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: bottom center;
}

.flex-center, .container-opiniones .card-container .container-img-opinion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.opinion-clientes h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 3.8rem;
}
@media screen and (max-width: 990px) {
  .opinion-clientes h1 {
    font-size: 2.5rem;
  }
}

.container-opiniones {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  padding: 0 20px;
}
.container-opiniones .card-container {
  width: 900px;
  height: 400px;
  background-color: #f9f5e8;
  border-radius: 30px;
  box-shadow: 1px 1px 4px 2px black;
  margin-bottom: 50px;
}
.container-opiniones .card-container .container-img-opinion .imagen-opi {
  width: 200px;
  height: 200px;
  margin: 20px 20px 20px 40px;
}
.container-opiniones .card-container .container-img-opinion .arriba h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #FEC601;
  font-size: 2.8rem;
}
@media screen and (max-width: 990px) {
  .container-opiniones .card-container .container-img-opinion .arriba h2 {
    font-size: 1.5rem;
    margin-left: -1px;
  }
}
.container-opiniones .card-container .container-img-opinion .arriba p {
  font-size: 2rem;
  text-align: center;
  margin-top: 30px;
  color: #073a35;
}
@media screen and (max-width: 990px) {
  .container-opiniones .card-container .container-img-opinion .arriba p {
    font-size: 0.8rem;
    margin-left: -1px;
  }
}
.container-opiniones .card-container .opinion {
  text-align: center;
  font-size: 1.5rem;
  margin-right: 10px;
  padding: 20px;
}
@media screen and (max-width: 990px) {
  .container-opiniones .card-container .opinion {
    text-align: center;
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 2px;
  }
}

.carousel-control-prev-icon {
  background-color: green;
}
@media screen and (max-width: 990px) {
  .carousel-control-prev-icon {
    background-color: #e5f0d2;
  }
}
.carousel-control-prev-icon:hover {
  background-color: black;
}

.carousel-control-next-icon {
  background-color: green;
}
@media screen and (max-width: 990px) {
  .carousel-control-next-icon {
    background-color: #e5f0d2;
  }
}
.carousel-control-next-icon:hover {
  background-color: black;
}

/*# sourceMappingURL=estiloss.css.map */
