$color-green: #243E36;
$sizeR: 1rem;
$color-yellow:#FEC601;
$color-claro:#f9efe8;
$size-px: 10px;
$size-completo: 100%;
$centro: center;
$estiloAlata: 'Alata', sans-serif;
$estiloAlatsi: 'Alatsi', sans-serif;
$negrita: bold;